*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

@media (max-width: 1080px){
  html{
    font-size: 93.75%;
  }
}

@media (max-width: 720px){
  html{
    font-size: 87.5%;
  }
}

html, body, #root, .app{
  height: 100vh;
  width: 100vw;
  background-color: var(--background);
  font-family: 'Poppins', sans-serif;
}

.app{
  display: flex;
  flex-direction: column;
  align-items: center;
}

button, input, textarea{
  font-family: 'Poppins', sans-serif;
}

:root{
  --background: #0A0F13;
  --outline: #212D2E;
  --yellow: #efcb4c;
  --surface: #121b1b;
  --blue: #2d5a77;
}
