*{
  padding: 0;
  margin:0;
  box-sizing: border-box;
}

@media (max-width: 1080px){
  html{
    font-size: 93.75%;
  }
}

@media (max-width: 720px){
  html{
    font-size: 87.5%;
  }
}

html, body, #root, .app{
  height: 100vh;
  width: 100vw;
  background-color: var(--background);
  font-family: 'Poppins', sans-serif;
  overflow-x: hidden;
}

.app{
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 2;
}


button, input, textarea{
  font-family: 'Poppins', sans-serif;
}

input{
  background: transparent;
  border: none;
  border: 2px solid var(--outline);
  border-radius: 5px;
  padding: 3px 8px;
  outline: none;
  transition: box-shadow 0.2s;

  font-size: 1rem;
  font-weight: 400;
  color: var(--white);

  height: 3rem;
}

input:focus{
  box-shadow:0 0 1px 1px var(--yellow);
}

input::placeholder{
  color: var(--outline);
  font-size: 1rem;
  font-weight: 600;

}


button{
  background: var(--blue);
  color: #fff;
  font-size: 1.3rem;
  font-weight: 400;
  border: none;
  border-radius: 5px;
  padding: 0.5rem 1.6rem;

  cursor: pointer;
  user-select: none;
  transition: background 0.2s;

  height: 3rem;
}

button:hover{
  background: var(--blue-hover);
}

:root{
  --background: #0A0F13;
  --outline: #212D2E;
  --yellow: #efcb4c;
  --surface: #121b1b;
  --blue: #2d5a77;
  --blue-hover: #1d3b4e;
  --green: #1dad1d;
  --black: #000;
  --white: #e5e5e5;
  --red: #c50c0c
}
